<div class = "footer">
  <div class = "footer-container">
    <div class = "row">
      <div class="col-md-5 blog-description">
        <h5><a href = "https://github.com/K-Sato1995/MyBlog"><%= t(".title") %></a></h5>
        <p><%= t(".description") %></p>
        <p class = "copy-right"><%= t(".copy_right") %></p>
      </div>
      <div class="col-md-5 user-description">
        <h5><a href = "https://github.com/K-Sato1995"><%= t(".author_name") %></a></h5>
        <p><%= t(".author_description") %></p>
        <div class = "snn-links">
          <a href = "https://github.com/K-Sato1995"><%= fa_icon "github",  class: "fa-3x" %></a>
          <a href = "https://dev.to/ksato1995"><%= fa_icon "rocket", class: "fa-3x" %></a>
          <a href = "https://qiita.com/k-penguin-sato"><%= fa_icon "book", class: "fa-3x" %></a>
          <%= link_to_unless_current image_tag('en.png', class: 'en_logo'), locale: "en" %>
          <%= link_to_unless_current image_tag('ja.png', class: 'ja_logo'), locale: "ja" %>
        </div>
      </div>
      <div class="col-md-2 links">
        <h5><%= t(".links") %></h5>
        <ul>
          <li><%= link_to t(".archive"), archives_path%></li>
          <li><%= link_to t(".about"), about_path%></li>
          <li><%= link_to t(".source_code"), "https://github.com/K-Sato1995/MyBlog" %>
        </ul>
      </div>
    </div>
  </div>
</div>
