<div class = 'mobile-nav' id = 'mobile-navbar'>
  <a href = '/'><%= image_tag 'logo.png', class: 'logo'%></a>
  <div id="mobile-menu-icon" onClick="toggleDropList()">
    <div class="menu-icon-bar"></div>
    <div class="menu-icon-bar"></div>
    <div class="menu-icon-bar"></div>
  </div>
  <div class="mobile-dropdown" id = "mobile-dropdown">
    <ul class = 'mobile-dropdown-list'>
      <li class = 'mobile-dropdown-item' onClick = 'openHomeSideBar()'><%= t(".category") %></li>
      <li class = 'mobile-dropdown-item' onClick = 'openHomeSideBar2()'><%= t(".recent_posts") %></li>
      <li class = 'mobile-dropdown-item'><%= link_to t('.archive'), archives_path%></li>
      <li class = 'mobile-dropdown-item'><%= link_to t('.about'), about_path%></li>
    </ul>
  </div>
</div>
