<nav class="navbar fixed-top">
  <h4><%= link_to "Kat's Blog", root_path, class:'navbrand' %></h4>
    <ul class = 'header-category-list'>
      <% @categories.each do |category| %>
        <li><%= link_to "#{category.name}", posts_path(category: category.id), class:"btn header-c-#{category.name}" %></li>
      <% end %>
    </ul>

    <!--SEARCH BAR  -->
    <div class="search-box">
      <%= form_tag(posts_path, method: :get) do %>
        <%= text_field_tag :title, params[:title],class:'search-bar', placeholder:'Type Here...' %>
        <%= submit_tag 'Search', class:'btn btn-outline-info'%>
      <% end %>
    </div>
</nav>
