<%= render 'mobile_nav' %>
<%= render 'nav' %>
  <div class="about-container">
    <div class = 'about-content'>
      <h3><%= t(".title") %></h3>
      <p><%= t(".paragraph1") %></p>
      <p><%= t(".paragraph2") %></p>
      <p><%= t(".paragraph3") %></p>
    </div>
  </div>
<%= render 'footer' %>
