<%= render 'mobile_nav' %>
<div class = 'container-fluid'>
  <div class = 'row'>
      <%= render 'nav' %>
    <!-- Main Content  -->
    <div class="col-md-12 post-container">
        <!-- POST IF -->
        <% if (@posts) %><!-- IF1 -->
          <% if (@posts.empty?) %><!-- IF2 -->
            <div class="no-posts">
              <h3>No posts found.</h3>
              <%= image_tag 'penguin.png', class: 'penguin'%>
            </div>
            <% else %>
            <div id="posts" class="transitions-enabled">
              <%= render 'post' %>
          <% end %> <!-- of IF2-->
        <% end %> <!-- of IF1-->
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
<%= render 'footer'%>
<script>
//Box FadeIn
$(".box").each(function(index) {
  $('.box').css('display', 'none');
  $(this).delay(200*index).fadeIn(100);
});
</script>
