<div class = 'row'>
    <div class="col-md-8">
      <% @posts.each do |post| %>
        <div class = 'card mb-4' id = 'post-box'>
          <div class = 'post-top' style="background-image: url(<%= post.image%>);"></div>
            <div class="card-body">
              <h3  class="card-title"><%= post.title %></h3>
                <%= link_to 'Read More', post_path(post), class:"btn btn-outline-primary"%>
            </div>
            <div class="card-footer">
                <%= post.category %>
                <%= humanize(post.status) %>
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Delete',post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
              <span>Posted on <%= post.created_at.strftime("%B %d, %Y") %> by K-Sato</span>
            </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= render 'side' %>
    </div>
</div>
