<%= render 'mobile_nav' %>
<div class = 'container-fluid'>
  <div class = 'row'>
    <!-- SIDE-NAV -->
    <div class="nav-area col-xs-0 col-sm-0 col-md-2">
      <%= render 'nav' %>
    </div>
    <!-- Main Content  -->
    <div class="col-xs-12 col-sm-12 col-md-10 post-container">
      <div id="posts" class="transitions-enabled">
        <!-- POST IF -->
        <% if (@posts) %><!-- IF1 -->
          <% if (@posts.empty?) %><!-- IF2 -->
              <h3>No posts found.</h3>
            <% else %>
              <%= render 'post' %>
          <% end %> <!-- of IF2-->
        <% end %> <!-- of IF1-->
      </div>
      <ul class="pagination">
        <li><%= link_to_prev_page @posts, '<< Previous Page', class: 'page-link' %></li>
        <li><%= link_to_next_page @posts, 'Next Page >>', class: 'page-link' %></li>
      </ul>
    </div>
  </div>
</div>
<script>
//Box FadeIn
$(".box").each(function(index) {
  $('.box').css('display', 'none');
  $(this).delay(200*index).fadeIn(100);
});
</script>
