<div class="show-container">
  <div class = 'row'>
    <div class="col-md-2">
      <%= render 'nav' %>
    </div>
    <div class = 'col-md-10 article-container'>
     <h3 class="mt-4"><%=@post.title%></h3>
     <hr/>
       <p>
         <%= link_to "#{@post.category_name}", posts_path(category: @post.category.id), class:"category-#{@post.category_name}" %>
         <span class = 'post-created-on'>Posted on <%= @post.created_at.strftime("%Y-%m-%d") %></span>
      </p>
     <hr/>
      <div class="post-context">
         <%= qiita_markdown(@post.context) %>
      </div>
      <hr/>
      <a href="#top"><%= fa_icon "angle-up" , base: "square", class: "fa-3x go-top" %></a>
    </div>
  </div>
</div>

<script>
$("a[href='#top']").click(function() {
   $("html, body").animate({ scrollTop: 0 }, "slow");
   return false;
});
</script>
