<%= render 'mobile_nav' %>
<%= render 'nav' %>

<div class = 'container-fluid'>
  <div class="show-container">
    <div class = 'row'>
      <div class = 'col-md-10 article-container'>
       <h2 class='show-post-title'><%=@post.title%></h2>
       <hr/>
         <p>
           <%= link_to "#{@post.category_name}", posts_path(category: @post.category.id), class:"category-#{@post.category_name}" %>
           <span class = 'post-created-on'>Posted on <%= @post.created_at.strftime("%Y-%m-%d") %></span>
        </p>
       <hr/>
        <%= image_tag @post.image, class: 'show-image' %>
        <div class="post-context">
           <%= markdown(@post.context) %>
        </div>
        <hr/>
        <!--RELATED POSTS  -->
        <h4 class = 'related-post-column'>Related Posts</h4>
        <div class = 'related-posts'>
            <% @related_posts.each do |post| %>
                <div class="related-posts-box clearfix">
                  <div class="box-left">
                   <%= link_to (image_tag post.image, class: 'related-post-image'), post_path(post.id)%>
                  </div>
                  <div class="box-right">
                     <%= link_to post.title, post_path(post.id), class:'related-post-title'%>
                  </div>
               </div>
          <% end %><!-- of @related_posts.each -->
        </div>
        <a href="#top"><%= fa_icon "angle-up" , base: "square", class: "fa-3x go-top" %></a>
      </div>
    </div>
  </div>
</div>
<%= render 'footer'%>

<script>
$("a[href='#top']").click(function() {
   $("html, body").animate({ scrollTop: 0 }, "slow");
   return false;
});

$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-70
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });

</script>
