<!DOCTYPE html>
<html>
  <head>
    <title>K-Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'mobile_nav' %>
    <div class = 'container-fluid'>
      <%= yield %>
    </div>
    <footer>
      <p>Designed and coded by <a href = 'https://github.com/KatsukiSato'>K-Sato</a></p>
    </footer>
  </body>
</html>
