<!DOCTYPE html>
<html>
  <head>
    <title>K-Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico'%>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<script>
/////////TOGGLE SIDEBAR//////////////////////////////
var sidebar = document.getElementById('admin-sidebar')
var adminContent = document.getElementById('admin-content')
var adminContainer = document.getElementById('admin-container')

function openNav(){
  sidebar.style.width = '200px';
  adminContent.className = 'col-md-11 admin-content';
  adminContainer.style.paddingLeft = '250px'
}

function closeNav(){
  sidebar.style.width = '0px';
  adminContent.className = 'col-md-12 admin-content';
  adminContainer.style.paddingLeft = '0px'
}

function toggleNav(){
  if(sidebar.style.width === '0px'){
    openNav()
  }else{
    closeNav()
  }
}
</script>
